*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
    
    
}
::-webkit-scrollbar-thumb {
    background: #e1dad2;
    
    border-radius:3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ece5dd
}
::-webkit-scrollbar-corner {
        background: #d8a28c;
    }


body {
    width:100%;
    height:100%;
    background-color: #d8a28c;
    font-family: "Lato";
    color: #194a50;
}
header {
    width:100%;
    background-color: #e1dad2;
}

.over-nav {
    padding: 10%;
    text-align: center;
    font-size: 155%;
    color:  #194a50 ;
}

nav{
    display: flex;
    justify-content: flex-end;
    color:  #d37556 ;
}

.vertical {
    border-left: 8px solid #e1dad2;
    height: 80px;
    position:fixed;
    top: 40%;
    left:5px;
  border-radius:3px;
 }

.features-menu li {
    list-style: none;
    font-size: 80%;
}

.vertical:hover .features-menu {
    display:flex;
    flex-direction: column;
    background: #e1dad2;
    border-top-right-radius:3px;
    border-bottom-right-radius: 3px;
    height:100%;
    justify-content: space-evenly;
    opacity: 1;
    z-index:2;
   
}

.features-menu {
    display:none;
}

strong {
    color:	#7556d3;
}
.features-links {
    color: #d37556;
}
  .skills,
   .contatti {
    margin:5px 10px;
    text-decoration: none;
    color:#d37556;
}
.features-links:hover,
.skills:hover,
.contatti:hover{
    color:#bd694d;
}
.features-links:active,
.skills:active,
.contatti:active{
    color:#93513c;
}

.links,
.links:visited{
    color:#466e72;
}
.links:hover{
    color:#759296;
}
.links:active{
    color:#8ca4a7;
}
.piacere-di-conoscerti, .chi-sono, .istruzione, .i-miei-valori{
    border-bottom: 1px solid #d37556;
}
footer {
    background-color: #194a50;
    display:flex;
    color: #8ca4a7;
    width:100%;
    padding:5px;
    line-height: 1.1;
    
}
.index{
    display:flex;
flex-direction: column;
color:#8ca4a7;
width:50%;
align-items: center;
}
.social {
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.green-links,
.green-links:visited {
    text-decoration: none;
    color:#8ca4a7;
}
.green-links:hover {
    color:#759296;
}

.green-links:active {
    color:#466e72;
}
ul {
    list-style-type: none;
}

/*smartphone*/
@media only screen and (max-width:576px) {
    body {
        font-size:larger;
        line-height: 1.1;   
    }
.vertical {
    visibility:hidden;
}
    .piacere-di-conoscerti h1{
        width:100%;
        
        text-align: center;
        
    }
    .content-piacere-di-conoscerti{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .content-piacere-di-conoscerti img {
        order:2;
        width:150px;
        height: 150px;
    }
    .content-piacere-di-conoscerti article {
        text-align: center;
        margin-top: 2%;
    }

.chi-sono h2{
   width:100%;
 
  text-align: center;
}
.content-chi-sono {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.content-chi-sono img{
    width: 150px;
    height: 150px;

}
.content-chi-sono article {
    text-align: center;
    margin-top: 2%;
}

.istruzione h2{
    width:100%;
    
    text-align: center;
}
.content-istruzione{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-istruzione img {
    order:2;
    width:150px;
    height: 150px;
}
.content-istruzione article {
    text-align: center;
    margin-top: 2%;
}
.i-miei-valori h2{
    width:100%;
  
   text-align: center;
 }
 .content-i-miei-valori {
     display:flex;
     flex-direction: column;
     align-items: center;
 }
 .content-i-miei-valori img{
     width: 150px;
     height: 150px;
 
 }
 .content-i-miei-valori article {
     text-align: center;
     margin-top: 2%;
 }
}




/*tablet*/
@media only screen and (min-width:577px) and (max-width:960px){
    body {
        font-size:larger;
        line-height: 1.3;
    }
   
    .piacere-di-conoserti{
        padding: 5px;
    }
    .piacere-di-conoscerti h1{
       width:100%;
     
      text-align: center;
    }
    .content-piacere-di-conoscerti {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .content-piacere-di-conoscerti img{
        width: 175px;
        height: 175px;
    margin: 5% 0px;
    }
    .content-piacere-di-conoscerti article {
        width:50%;
    }


    .chi-sono{
        padding:2%;
    }
    .chi-sono h2{
        width:100%;
     
       text-align: center;
     }
     .content-chi-sono {
         display:flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-around;
     }
     .content-chi-sono img{
         width: 175px;
         height: 175px;
     margin: 5% 0px;
     }
     .content-chi-sono article {
         width:60%;
     }

     .istruzione {
        padding:2%;
     }
     .istruzione h2{
        width:100%;
       text-align: center;
     }
  
     .content-istruzione img{
         float:left;
         width: 175px;
         height: 175px;
     margin: 3%;
     }
    
     .i-miei-valori{
       padding:2%;;
    }
    .i-miei-valori h2{
        width:100%;
       
       text-align: center;
     }
     .content-i-miei-valori {
         display:flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-around;
     }
     .content-i-miei-valori img{
         width: 175px;
         height: 175px;
     margin: 5% 0px;
     }
     .content-i-miei-valori article {
         width:60%;
     }
    
}



/*desktop*/
@media only screen and (min-width:961px){
    

    body {
        font-size:24px;
        line-height: 1.5;
       
    }
    .piacere-di-conoscerti {
        padding:2%;
    }
    .piacere-di-conoscerti h1{
       text-align: center;
       width:100%;
    }
    .content-piacere-di-conoscerti {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .content-piacere-di-conoscerti img{
    margin: 10%;
    }
    .content-piacere-di-conoscerti article {
        width:50%;
    }

    .chi-sono {
        padding:2%;
    }
    .chi-sono h2{
        text-align: center;
        width:100%;
     }
     .content-chi-sono {
         display:flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-around;
     }
     .content-chi-sono img{
         
     margin: 10%;
     }
     .content-chi-sono article {
         width:50%;
     }

     .istruzione {
        padding: 3%;  
     }
     .istruzione h2{
        text-align: center;
        width:100%;
     }
    
     .content-istruzione img{
         float:left;
        margin: 5%;
        line-height: 1.6;
     }

    .i-miei-valori {
        padding: 2%;
    }
    .i-miei-valori h2{
        text-align: center;
        width:100%;
     }
     .content-i-miei-valori {
         display:flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-around;
     }
     .content-i-miei-valori img{
     margin: 10%;
     }
     .content-i-miei-valori article {
         width:50%;
     }
}
