*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
    
    
}
::-webkit-scrollbar-thumb {
    background: #e1dad2;
    border-radius:3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ece5dd
}
::-webkit-scrollbar-corner {
        background: #d8a28c;
    }


body {
    width:100%;
    height:100%;
    background-color: #d8a28c;
    font-family: "Lato";
    color: #194a50;
}
header {
    width:100%;
    background-color: #e1dad2;
    
}

.over-nav {
    padding: 10%;
    text-align: center;
    font-size: 155%;
    color:  #194a50 ;
}

nav{
    display: flex;
    justify-content: flex-end;
    color:  #d37556 ;
}

.vertical {
    border-left: 8px solid #e1dad2;
    height: 80px;
    position:fixed;
    top: 40%;
    left:5px;
  border-radius:3px;
 }

.features-menu li {
    list-style: none;
    font-size: 80%;
}

.vertical:hover .features-menu {
    display:flex;
    flex-direction: column;
    background: #e1dad2;
    border-top-right-radius:3px;
    border-bottom-right-radius: 3px;
    height:100%;
    justify-content: space-evenly;
    opacity: 1;
    z-index:2;
   
}

.features-menu {
    display:none;
}

strong {
    color:	#7556d3;
}
.features-links {
    color: #d37556;
}
   .contatti {
    margin:5px 10px;
    text-decoration: none;
    color:#d37556;
}
.features-links:hover,
.contatti:hover{
    color:#bd694d;
}
.features-links:active,
.contatti:active{
    color:#93513c;
}

.links,
.links:visited{
    color:#466e72;
}
.links:hover{
    color:#759296;
}
.links:active{
    color:#8ca4a7;
}

footer {
    background-color: #194a50;
    display:flex;
    color: #8ca4a7;
    width:100%;
    padding:5px;
    line-height: 1.1;
    
}
.index{
    display:flex;
flex-direction: column;
color:#8ca4a7;
width:50%;
align-items: center;
}
.social {
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.green-links,
.green-links:visited {
    text-decoration: none;
    color:#8ca4a7;
}
.green-links:hover {
    color:#759296;
}

.green-links:active {
    color:#466e72;
}
ul {
    list-style-type: none;
}

.skill-page-area {
    background-color: #466e72;
    border: 1px solid none;
    border-radius:3px;
    color: #e1dad2;

    width: 60%;
    padding: 50px;
    margin:auto;
    margin-bottom: 1px;
    
 }






/*smartphone*/
@media only screen and (max-width:576px) {
    body {
        font-size:larger;
        line-height: 1.1;   
    }
.vertical {
    visibility:hidden;
}
}




/*tablet*/
@media only screen and (min-width:577px) and (max-width:960px){
    body {
        font-size:larger;
        line-height: 1.3;
    }
   
   
    
}



/*desktop*/
@media only screen and (min-width:961px){
    

    body {
        font-size:24px;
        line-height: 1.5;
       
    }
    
}
