*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #e1dad2;
    border-radius:3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ece5dd;
}

    ::-webkit-scrollbar-corner {
        background: #d8a28c;
    }
body{
    color:rgb(255, 255, 255);
    background-image: url("../images/soft-light-gdbb02da4a_1920.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-color:#466e72 ;
   
    font-family:"Lato";
    font-size: larger;
    line-height: 1.3;

    display:flex;
    flex-direction: column;
    align-items:center;
}

header {
    width:100%;
    background-color: #e1dad2;
}

.over-nav {
    padding: 10%;
    text-align: center;
    font-size: 155%;
    color:  #194a50 ;
}

nav{
    display: flex;
    justify-content: flex-end;
    color:  #d37556 ;
}
.contatti {
    margin:5px 10px;
    text-decoration: none;
    color:#d37556;
}
.contatti:hover{
    color:#bd694d;
}
.contatti:active{
    color:#93513c;
}

.speaker-form-header {
    text-align:center;
    width:100%;
    padding: 20px;
}

.speaker-form-header h1{
    text-align: center;
    font-size:40px;
}

.speaker-form {
    opacity: 0.9;
    background-color: #46725a90;
    border: 1px solid none;
    border-radius:3px;
    color: white;

    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}

.form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.form-row input[type="text"], 
.form-row input[type="email"]{
    background-color: white;
    border: 1px solid red;
    border-radius: 3px;
    width: 100%;
    padding:7px;
    font-size:14px;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
    border: 1px solid #d55c5f;
    color: #d55c5f;
    box-shadow: none;
}

.form-row label {
    margin-bottom:15px;
}

.legacy-form-row{
    border:none;
    margin-bottom:40px;
    text-align: center;
}
.legacy-form-row legend {
    margin-bottom: 15px;
}
.legacy-form-row .radio.label{
    display:block;
    font-size: 14px;
    padding: o 20px 0 0;
}
.legacy-form-row input[type="radio"]{
    margin-top: 2px;
}
.legacy-form-row input[type="radio"]{
    margin-top: 2px;
}
.legacy-form-row .radio-label,
.legacy-form-row input[type="radio"]{
    float:center;
}

.form-row textarea {
    font-family: "Lato";
    font-size:14px;
    border: 1px solid #d55c5f;
    border-radius: 3px;
    min-height: 200px;
    margin-bottom:10px;
    padding: 7px;
    resize: none;
}
.form-row .checkbox-label {
    margin-bottom:0;
    
}

.form-row button {
   
    font-size:16px;
    font-weight: bold;
    color: white;
    background-color: rgb(87, 218, 174);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}
.form-row button:hover{
    background-color:#e1dad2;
}
.form-row button:active {
    background-color: aliceblue;
}

.link,
.link:visited {
 color: rgb(106, 187, 214);
}
.link:hover {
    color: rgb(144, 208, 230);
}
.link:active {
    color: lightblue;
}

footer {
    background-color: #194a50;
    display:flex;
    color: #8ca4a7;
    width:100%;
    padding:6px;
}
.index{
    display:flex;
flex-direction: column;
color:#8ca4a7;
width:50%;
align-items: center;
}
.social {
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.orange-links,
.orange-links:visited {
    text-decoration: none;
    color:#8ca4a7;
}
.orange-links:hover {
    color:#759296;
}

.orange-links:active {
    color:#466e72;
}
ul {
    list-style-type: none;
}




/*smartphone*/
@media only screen and (max-width:576px){
.form-row button {
width: 30%;
margin:auto;
}
}








/*tablet*/
@media only screen and (min-width: 577px) and (max-width: 960px){
    .speaker-from-header,
    .speaker-form {
        width: 600px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row select,
    .form-row textarea 
     {
        width:250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }
 .form-row .checkbox-label {
     margin-left:120px;
     width:auto;
 }

 .form-row button{
     margin:auto;
 }
}










/*desktop*/
@media only screen and (min-width: 961px){
    .speaker-form,
    .speaker-form-header {
width: 750px;
    }
    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row select,
    .form-row textarea 
     {
        width:400px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }
 .form-row .checkbox-label {
     margin-left:auto;
     width:auto;
 }

 .form-row button{
     margin:auto;
 }
}
